# Imports

In [1]:
import sys, os
is_conda = os.path.exists(os.path.join(sys.prefix, 'conda-meta'))

if not is_conda:
    import findspark 
    findspark.init()

from pyspark.sql import SparkSession
# import pandas as pd
# import numpy as np
# import matplotlib as plt
from datetime import datetime
from pyspark.sql.functions import col, datediff, unix_timestamp

# Lectura de datos

In [2]:
spark = SparkSession.builder.appName("taxis").master("local[*]").getOrCreate()
df = spark.read.csv('./tripdata_2017_01.csv', header=True, inferSchema=True)

In [3]:
df.printSchema()
dfP=df.toPandas()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

# Limpieza de datos

In [4]:
display(dfP)
display(dfP.describe().T)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2017-01-09 11:13:28,2017-01-09 11:25:45,1,3.30,1,N,263,161,1,12.5,0.0,0.5,2.00,0.00,0.3,15.30
1,1,2017-01-09 11:32:27,2017-01-09 11:36:01,1,0.90,1,N,186,234,1,5.0,0.0,0.5,1.45,0.00,0.3,7.25
2,1,2017-01-09 11:38:20,2017-01-09 11:42:05,1,1.10,1,N,164,161,1,5.5,0.0,0.5,1.00,0.00,0.3,7.30
3,1,2017-01-09 11:52:13,2017-01-09 11:57:36,1,1.10,1,N,236,75,1,6.0,0.0,0.5,1.70,0.00,0.3,8.50
4,2,2017-01-01 00:00:00,2017-01-01 00:00:00,1,0.02,2,N,249,234,2,52.0,0.0,0.5,0.00,0.00,0.3,52.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971005,2,2017-01-17 13:16:22,2017-01-17 13:35:14,1,3.43,1,N,264,264,2,14.5,0.0,0.5,0.00,0.00,0.3,15.30
971006,2,2017-01-17 13:16:23,2017-01-17 13:23:01,1,0.78,1,N,161,237,1,6.0,0.0,0.5,1.36,0.00,0.3,8.16
971007,2,2017-01-17 13:16:23,2017-01-17 13:23:51,1,0.95,1,N,237,229,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30
971008,2,2017-01-17 13:16:23,2017-01-17 13:32:45,1,1.68,1,N,170,48,1,11.5,0.0,0.5,2.46,0.00,0.3,14.76
971009,1,2017-01-17 13:16:24,2017-01-17 14:03:55,1,11.30,1,N,246,138,1,40.5,0.0,0.5,9.35,5.54,0.3,56.19

,count,mean,std,min,25%,50%,75%,max
VendorID,971010.0,1.556951,0.496746,1.00,1.00,2.00,2.00,2.00
passenger_count,971010.0,1.685989,1.291705,0.00,1.00,1.00,2.00,9.00
trip_distance,971010.0,3.031285,3.785847,0.00,1.00,1.70,3.25,151.70
RatecodeID,971010.0,1.044729,0.461631,1.00,1.00,1.00,1.00,99.00
PULocationID,971010.0,160.378031,67.938198,1.00,113.00,161.00,231.00,265.00
DOLocationID,971010.0,158.556712,72.276821,1.00,100.00,161.00,233.00,265.00
payment_type,971010.0,1.371974,0.503326,1.00,1.00,1.00,2.00,4.00
fare_amount,971010.0,13.108188,546.736933,-120.00,6.50,9.00,14.00,538579.20
extra,971010.0,0.209993,0.261634,-1.00,0.00,0.00,0.50,55.54
mta_tax,971010.0,0.497214,0.040586,-0.50,0.50,0.50,0.50,0.50
tip_amount,971010.0,1.679028,2.571364,-6.06,0.00,1.16,2.20,366.00
tolls_amount,971010.0,0.280181,1.736908,0.00,0.00,0.00,0.00,905.54
improvement_surcharge,971010.0,0.299629,0.014468,-0.30,0.30,0.30,0.30,0.30
total_amount,971010.0,16.078111,546.790102,-120.30,8.16,11.27,16.83,538580.00

### Elementos extraños en el dataset

Lista de comportamientos extraños en los datos, y por tanto, inválidos a la hora de utilizar datos que deberían ser coherentes basándonos en la información de cada campo proporcionada por la [documentación](https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf)

* Existen carreras en las que la distancia es 0
* Existen propinas negativas
* "extra" con valores diferentes a 0 (ya que puede no haber extras), 0.5 y 1
* Existen viajes con un precio final negativo
* "MTA_tax" debe valer siempre 0.50. Valores diferentes son erróneos, y por tanto puede que el resto de la información también
    * De forma similar, "Improvement_surcharge" no debe valer menos de 0.30
* Carreras cuya fecha de fin sea igual o anterior a la fecha de inicio
* Existen tarifas con valores negativos. No tiene sentido ya que la tarifa va en función del tiempo y la distancia recorridas
* "Improvement_surcharge" es un valor en desuso, por lo que debería valer en el menor cas 0, no -0.3

### Elementos extraños PERO posibles

* Número de pasajeros es 0. Dado que es un valor que introduce el propio conductor, muy probablemente le de bastante igual introducir bien el valor.
* Un viaje empieza y acaba en la misma zona.

### Limpieza realizada

A partir de los comportamientos observados se ha procedido a eliminar las carreras que cumplen las siguientes condiciones:

- Campo "tip_amount" con valores menor a 0
- Campo "total_amount" con valores menor o igual a 0
- Campo "trip_distance" con valores menor o igual a 0
- Campo "fare_amount" con valores menor o igual a 0
- Campo "extra" con valores diferentes de 0, 0.5 y 1
- Campo "MTA_tax" con valor distinto de 0.5
- Campo "Improvement_surcharge" con valor distinto de 0 o 0.3
- Campo "tpep_dropoff_datetime" es anterior o igual a "tpep_pickup_datetime"

In [5]:
# Convertimos las fechas a timestamp, para que dejen de ser strings a secas
# y guardamos su diferencia para luego tener más fácil el filtrado y otros cálculos

# ----------------------------------------------------------------------------------
# ESTO ES ABSURDAMENTE LENTO, TIENE QUE HABER ALGUNA FORMA MÁS FÁCIL DE HACER ESTO
# ----------------------------------------------------------------------------------
df = df.withColumn(
    "tpep_pickup_timestamp", unix_timestamp(col("tpep_pickup_datetime").cast("timestamp"))
).withColumn(
    "tpep_dropoff_timestamp", unix_timestamp(col("tpep_dropoff_datetime").cast("timestamp"))
).withColumn(
    "time_diff", col("tpep_dropoff_timestamp") - col("tpep_pickup_timestamp")
)

df.createOrReplaceTempView('datosCarreras')
# display(df.toPandas())

In [16]:
datosLimpios = spark.sql("""
    SELECT * FROM datosCarreras WHERE
        tip_amount >= 0 AND
        total_amount > 0 AND
        trip_distance > 0 AND
        fare_amount > 0 AND
        (extra == 0 OR extra == 0.5 OR extra == 1) AND
        mta_tax == 0.5 AND
        improvement_surcharge >= 0 AND
        time_diff > 0
""")
print(datosLimpios.count())
datosLimpios.createOrReplaceTempView('datosCarrerasLimpios')
datosLimpiosP = datosLimpios.toPandas()

961150

In [7]:
display(datosLimpiosP)
display(datosLimpiosP.describe().T)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,tpep_pickup_timestamp,tpep_dropoff_timestamp,time_diff
0,1,2017-01-09 11:13:28,2017-01-09 11:25:45,1,3.30,1,N,263,161,1,12.5,0.0,0.5,2.00,0.00,0.3,15.30,1483956808,1483957545,737
1,1,2017-01-09 11:32:27,2017-01-09 11:36:01,1,0.90,1,N,186,234,1,5.0,0.0,0.5,1.45,0.00,0.3,7.25,1483957947,1483958161,214
2,1,2017-01-09 11:38:20,2017-01-09 11:42:05,1,1.10,1,N,164,161,1,5.5,0.0,0.5,1.00,0.00,0.3,7.30,1483958300,1483958525,225
3,1,2017-01-09 11:52:13,2017-01-09 11:57:36,1,1.10,1,N,236,75,1,6.0,0.0,0.5,1.70,0.00,0.3,8.50,1483959133,1483959456,323
4,1,2017-01-01 00:00:02,2017-01-01 00:03:50,1,0.50,1,N,48,48,2,4.0,0.5,0.5,0.00,0.00,0.3,5.30,1483225202,1483225430,228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961145,2,2017-01-17 13:16:22,2017-01-17 13:35:14,1,3.43,1,N,264,264,2,14.5,0.0,0.5,0.00,0.00,0.3,15.30,1484655382,1484656514,1132
961146,2,2017-01-17 13:16:23,2017-01-17 13:23:01,1,0.78,1,N,161,237,1,6.0,0.0,0.5,1.36,0.00,0.3,8.16,1484655383,1484655781,398
961147,2,2017-01-17 13:16:23,2017-01-17 13:23:51,1,0.95,1,N,237,229,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30,1484655383,1484655831,448
961148,2,2017-01-17 13:16:23,2017-01-17 13:32:45,1,1.68,1,N,170,48,1,11.5,0.0,0.5,2.46,0.00,0.3,14.76,1484655383,1484656365,982
961149,1,2017-01-17 13:16:24,2017-01-17 14:03:55,1,11.30,1,N,246,138,1,40.5,0.0,0.5,9.35,5.54,0.3,56.19,1484655384,1484658235,2851

,count,mean,std,min,25%,50%,75%,max
VendorID,961150.0,1.557943e+00,0.496632,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
passenger_count,961150.0,1.687589e+00,1.293372,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
trip_distance,961150.0,3.016129e+00,3.696633,1.000000e-02,1.000000e+00,1.700000e+00,3.250000e+00,1.391700e+02
RatecodeID,961150.0,1.026247e+00,0.188597,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00
PULocationID,961150.0,1.603090e+02,67.864522,1.000000e+00,1.130000e+02,1.610000e+02,2.310000e+02,2.650000e+02
DOLocationID,961150.0,1.586092e+02,71.978933,1.000000e+00,1.000000e+02,1.610000e+02,2.320000e+02,2.650000e+02
payment_type,961150.0,1.368578e+00,0.498094,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00
fare_amount,961150.0,1.233191e+01,10.246143,2.000000e-01,6.500000e+00,9.000000e+00,1.400000e+01,3.500000e+02
extra,961150.0,2.111528e-01,0.255421,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mta_tax,961150.0,5.000000e-01,0.000000,5.000000e-01,5.000000e-01,5.000000e-01,5.000000e-01,5.000000e-01
tip_amount,961150.0,1.652002e+00,2.400762,0.000000e+00,0.000000e+00,1.160000e+00,2.200000e+00,3.660000e+02
tolls_amount,961150.0,2.496793e-01,1.603808,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.055400e+02
improvement_surcharge,961150.0,2.999991e-01,0.000530,0.000000e+00,3.000000e-01,3.000000e-01,3.000000e-01,3.000000e-01
total_amount,961150.0,1.524862e+01,12.527154,1.000000e+00,8.160000e+00,1.116000e+01,1.680000e+01,9.303400e+02
tpep_pickup_timestamp,961150.0,1.484164e+09,579104.512405,1.483225e+09,1.483298e+09,1.484470e+09,1.484582e+09,1.485874e+09
tpep_dropoff_timestamp,961150.0,1.484165e+09,579089.397652,1.483225e+09,1.483299e+09,1.484471e+09,1.484583e+09,1.485875e+09
time_diff,961150.0,8.881023e+02,3397.627775,1.000000e+00,3.650000e+02,6.010000e+02,9.730000e+02,8.639400e+04

## Extracción de información

Ahora que ya hemos limpiado los datos y tenemos entradas coherentes, se puede proceder a extraer información de los mismos. 

La información que se va a extraer es:

* Velocidad media de los taxis en función de la hora.
* Viajes en taxi más comunes
* Registros financieros (propinas, personas, etc.)
    * Timos a turistas
    * Propinas en función de la hora
    * Identificar pasajeros borrachos
* Zonas con poca cobertura

### Velocidad media de los taxis

En este apartado se realizará un análisis de la velocidad media de los taxis, para ello se realizará una transformación de millas a metros sabiendo que 1 milla = 1609.344 metros luego dividiéndolo entre la diferencia de tiempo calculada previamente.

In [17]:
dfMTS = datosLimpios.withColumn(
    "mean_speed", col("trip_distance")*1609.344/col("time_diff")
)

In [18]:
dfMTSP = dfMTS.toPandas()
display(dfMTSP.sort_values(by=["mean_speed"],ascending=False).head(50))
display(dfMTSP.describe().T)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,tpep_pickup_timestamp,tpep_dropoff_timestamp,time_diff,mean_speed
691398,1,2017-01-01 23:02:31,2017-01-01 23:02:32,1,20.50,2,N,79,79,1,...,0.0,0.5,13.20,0.00,0.3,66.00,1483308151,1483308152,1,32991.552000
725483,1,2017-01-16 16:35:18,2017-01-16 16:35:19,1,19.60,1,N,63,63,2,...,1.0,0.5,0.00,0.00,0.3,4.30,1484580918,1484580919,1,31543.142400
571491,1,2017-01-15 19:39:26,2017-01-15 19:39:27,1,19.10,1,N,150,150,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1484505566,1484505567,1,30738.470400
308536,1,2017-01-14 22:59:52,2017-01-14 22:59:53,1,17.40,1,N,164,164,1,...,0.5,0.5,0.00,0.00,0.3,3.80,1484431192,1484431193,1,28002.585600
825394,1,2017-01-16 23:48:05,2017-01-16 23:48:08,1,27.30,2,N,148,148,1,...,0.0,0.5,10.55,0.00,0.3,63.35,1484606885,1484606888,3,14645.030400
669527,1,2017-01-01 20:50:01,2017-01-01 20:50:05,1,26.90,2,N,142,142,2,...,0.0,0.5,0.00,0.00,0.3,52.80,1483300201,1483300205,4,10822.838400
87233,1,2017-01-01 17:01:09,2017-01-01 17:01:12,1,19.10,1,N,151,151,3,...,0.0,0.5,0.00,0.00,0.3,3.30,1483286469,1483286472,3,10246.156800
688967,1,2017-01-01 22:46:25,2017-01-01 22:46:27,1,12.00,1,N,132,132,3,...,0.0,0.5,0.00,0.00,0.3,3.30,1483307185,1483307187,2,9656.064000
597025,1,2017-01-15 21:22:57,2017-01-15 21:23:00,1,17.40,1,N,132,132,3,...,0.5,0.5,0.00,0.00,0.3,3.80,1484511777,1484511780,3,9334.195200
525894,1,2017-01-15 16:57:12,2017-01-15 16:57:15,1,17.40,1,N,132,132,3,...,1.0,0.5,0.00,0.00,0.3,4.30,1484495832,1484495835,3,9334.195200
13628,1,2017-01-01 09:54:42,2017-01-01 09:54:45,1,17.30,1,Y,138,138,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1483260882,1483260885,3,9280.550400
716791,1,2017-01-16 16:01:32,2017-01-16 16:01:35,1,17.30,1,N,1,1,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1484578892,1484578895,3,9280.550400
7081,1,2017-01-01 08:37:32,2017-01-01 08:37:34,1,11.30,1,N,138,138,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1483256252,1483256254,2,9092.793600
170372,1,2017-01-01 04:49:02,2017-01-01 04:49:04,1,10.90,2,N,265,265,1,...,0.0,0.5,0.00,0.00,0.3,52.80,1483242542,1483242544,2,8770.924800
384457,1,2017-01-15 04:21:37,2017-01-15 04:21:39,1,10.70,1,N,25,25,2,...,0.5,0.5,0.00,0.00,0.3,3.80,1484450497,1484450499,2,8609.990400
203694,1,2017-01-01 01:03:11,2017-01-01 01:03:13,1,9.60,1,N,39,39,1,...,0.5,0.5,0.00,0.00,0.3,28.80,1483228991,1483228993,2,7724.851200
194901,2,2017-01-01 00:41:06,2017-01-01 00:41:07,2,4.61,1,N,264,75,1,...,0.5,0.5,3.66,0.00,0.3,21.96,1483227666,1483227667,1,7419.075840
826976,1,2017-01-17 00:02:40,2017-01-17 00:02:44,1,17.90,1,N,265,265,2,...,0.5,0.5,0.00,0.00,0.3,3.80,1484607760,1484607764,4,7201.814400
138079,1,2017-01-01 02:49:11,2017-01-01 02:49:12,1,4.40,1,N,197,197,1,...,0.5,0.5,16.20,0.00,0.3,20.00,1483235351,1483235352,1,7081.113600
570148,1,2017-01-15 19:33:45,2017-01-15 19:33:49,1,17.20,1,N,132,132,3,...,1.0,0.5,0.00,0.00,0.3,4.30,1484505225,1484505229,4,6920.179200
638821,1,2017-01-01 18:13:56,2017-01-01 18:14:00,1,17.00,1,N,162,162,3,...,0.0,0.5,0.00,0.00,0.3,3.30,1483290836,1483290840,4,6839.712000
562155,1,2017-01-15 19:02:56,2017-01-15 19:02:59,1,12.60,1,N,230,230,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1484503376,1484503379,3,6759.244800
39060,1,2017-01-01 12:32:11,2017-01-01 12:32:16,1,20.60,1,N,132,132,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1483270331,1483270336,5,6630.497280
84617,1,2017-01-01 16:07:08,2017-01-01 16:07:12,1,16.40,1,N,132,132,3,...,0.0,0.5,0.00,0.00,0.3,3.30,1483283228,1483283232,4,6598.310400
155340,1,2017-01-01 03:45:18,2017-01-01 03:45:21,1,11.30,1,N,66,66,3,...,0.5,0.5,0.00,0.00,0.3,3.80,1483238718,1483238721,3,6061.862400
908460,1,2017-01-17 10:06:32,2017-01-17 10:06:36,1,15.00,1,N,7,7,3,...,0.0,0.5,0.00,0.00,0.3,3.30,1484643992,1484643996,4,6035.040000
551274,1,2017-01-15 18:25:32,2017-01-15 18:25:36,1,14.40,2,N,79,79,1,...,0.0,0.5,10.55,0.00,0.3,63.35,1484501132,1484501136,4,5793.638400
418050,1,2017-01-15 10:18:34,2017-01-15 10:18:35,1,3.60,2,N,132,132,1,...,0.0,0.5,13.20,0.00,0.3,66.00,1484471914,1484471915,1,5793.638400
4744,1,2017-01-01 08:01:22,2017-01-01 08:01:25,1,10.10,1,N,145,145,3,...,0.0,0.5,0.00,0.00,0.3,3.30,1483254082,1483254085,3,5418.124800
560985,1,2017-01-15 18:58:42,2017-01-15 18:58:47,1,15.80,1,N,132,132,3,...,0.0,0.5,0.00,0.00,0.3,3.30,1484503122,1484503127,5,5085.527040
777675,1,2017-01-16 19:41:34,2017-01-16 19:41:40,1,18.00,1,N,132,132,3,...,0.0,0.5,0.00,0.00,0.3,3.30,1484592094,1484592100,6,4828.032000
388760,1,2017-01-15 05:24:20,2017-01-15 05:24:22,1,5.80,1,N,237,237,2,...,0.5,0.5,0.00,0.00,0.3,3.80,1484454260,1484454262,2,4667.097600
67793,1,2017-01-01 14:50:27,2017-01-01 14:50:33,1,17.00,1,N,132,132,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1483278627,1483278633,6,4559.808000
18323,1,2017-01-01 10:33:18,2017-01-01 10:33:24,1,17.00,1,N,132,132,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1483263198,1483263204,6,4559.808000
789885,1,2017-01-16 20:33:59,2017-01-16 20:34:10,1,30.80,2,N,50,50,1,...,0.0,0.5,11.65,5.54,0.3,69.99,1484595239,1484595250,11,4506.163200
369044,1,2017-01-15 02:47:31,2017-01-15 02:47:35,1,11.10,1,N,244,244,3,...,0.5,0.5,0.00,0.00,0.3,3.80,1484444851,1484444855,4,4465.929600
611633,1,2017-01-15 22:23:09,2017-01-15 22:23:15,1,16.20,1,N,81,81,2,...,0.5,0.5,0.00,0.00,0.3,3.80,1484515389,1484515395,6,4345.228800
629266,1,2017-01-15 23:47:39,2017-01-15 23:47:46,1,18.90,1,N,132,132,4,...,0.5,0.5,0.00,0.00,0.3,3.80,1484520459,1484520466,7,4345.228800
514985,1,2017-01-15 16:19:21,2017-01-15 16:19:27,1,15.70,2,N,142,142,1,...,0.0,0.5,11.11,0.00,0.3,63.91,1484493561,1484493567,6,4211.116800
826919,1,2017-01-17 00:02:09,2017-01-17 00:02:16,1,17.90,1,N,265,265,2,...,0.5,0.5,0.00,0.00,0.3,3.80,1484607729,1484607736,7,4115.322514
8876,1,2017-01-01 09:02:03,2017-01-01 09:02:06,1,7.60,1,N,138,138,3,...,0.0,0.5,0.00,0.00,0.3,3.30,1483257723,1483257726,3,4077.004800
622924,1,2017-01-15 23:17:46,2017-01-15 23:17:52,1,14.70,1,N,145,145,2,...,0.5,0.5,0.00,0.00,0.3,40.30,1484518666,1484518672,6,3942.892800
148560,1,2017-01-01 03:21:55,2017-01-01 03:22:01,1,14.60,1,N,42,42,1,...,0.0,0.5,30.00,0.00,0.3,33.30,1483237315,1483237321,6,3916.070400
752267,1,2017-01-16 18:12:20,2017-01-16 18:12:22,1,4.80,1,N,7,7,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1484586740,1484586742,2,3862.425600
931222,1,2017-01-17 11:30:28,2017-01-17 11:30:33,2,11.00,2,N,264,264,1,...,0.0,0.5,3.00,0.00,0.3,55.80,1484649028,1484649033,5,3540.556800
596309,1,2017-01-15 21:19:48,2017-01-15 21:19:52,1,8.60,1,Y,181,181,3,...,0.5,0.5,0.00,0.00,0.3,3.80,1484511588,1484511592,4,3460.089600
757755,1,2017-01-16 18:31:00,2017-01-16 18:31:05,1,10.60,1,N,132,132,2,...,0.0,0.5,0.00,0.00,0.3,3.30,1484587860,1484587865,5,3411.809280
663226,1,2017-01-01 20:14:28,2017-01-01 20:14:37,1,18.90,1,N,264,264,3,...,0.5,0.5,0.00,0.00,0.3,3.80,1483298068,1483298077,9,3379.622400
604847,1,2017-01-15 21:54:44,2017-01-15 21:54:47,1,6.20,1,N,132,132,3,...,0.5,0.5,0.00,0.00,0.3,3.80,1484513684,1484513687,3,3325.977600
113209,1,2017-01-01 01:40:00,2017-01-01 01:40:02,1,4.10,1,N,181,181,1,...,0.5,0.5,20.80,0.00,0.3,24.60,1483231200,1483231202,2,3299.155200

,count,mean,std,min,25%,50%,75%,max
VendorID,961150.0,1.557943e+00,0.496632,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
passenger_count,961150.0,1.687589e+00,1.293372,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
trip_distance,961150.0,3.016129e+00,3.696633,1.000000e-02,1.000000e+00,1.700000e+00,3.250000e+00,1.391700e+02
RatecodeID,961150.0,1.026247e+00,0.188597,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00
PULocationID,961150.0,1.603090e+02,67.864522,1.000000e+00,1.130000e+02,1.610000e+02,2.310000e+02,2.650000e+02
DOLocationID,961150.0,1.586092e+02,71.978933,1.000000e+00,1.000000e+02,1.610000e+02,2.320000e+02,2.650000e+02
payment_type,961150.0,1.368578e+00,0.498094,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00
fare_amount,961150.0,1.233191e+01,10.246143,2.000000e-01,6.500000e+00,9.000000e+00,1.400000e+01,3.500000e+02
extra,961150.0,2.111528e-01,0.255421,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mta_tax,961150.0,5.000000e-01,0.000000,5.000000e-01,5.000000e-01,5.000000e-01,5.000000e-01,5.000000e-01
tip_amount,961150.0,1.652002e+00,2.400762,0.000000e+00,0.000000e+00,1.160000e+00,2.200000e+00,3.660000e+02
tolls_amount,961150.0,2.496793e-01,1.603808,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.055400e+02
improvement_surcharge,961150.0,2.999991e-01,0.000530,0.000000e+00,3.000000e-01,3.000000e-01,3.000000e-01,3.000000e-01
total_amount,961150.0,1.524862e+01,12.527154,1.000000e+00,8.160000e+00,1.116000e+01,1.680000e+01,9.303400e+02
tpep_pickup_timestamp,961150.0,1.484164e+09,579104.512405,1.483225e+09,1.483298e+09,1.484470e+09,1.484582e+09,1.485874e+09
tpep_dropoff_timestamp,961150.0,1.484165e+09,579089.397652,1.483225e+09,1.483299e+09,1.484471e+09,1.484583e+09,1.485875e+09
time_diff,961150.0,8.881023e+02,3397.627775,1.000000e+00,3.650000e+02,6.010000e+02,9.730000e+02,8.639400e+04
mean_speed,961150.0,6.665200e+00,81.953891,1.941261e-04,3.909338e+00,5.177514e+00,6.904776e+00,3.299155e+04

En vista de que las velocidades medias estaban mal y esto, como se puede ver en la tabla, es debido a que el time_diff es muy bajo, probablemente por un error de los tiempos almacenador por los taxistas, por lo tanto se volverá a realizar una consulta eliminando tiempos menores a 3 minutos y se comprobará las velocidades promedio otra vez.

In [19]:
datosLimpiosSinVelocidades = spark.sql("SELECT * FROM datosCarrerasLimpios where time_diff >= 180")
dfMTS = datosLimpiosSinVelocidades.withColumn(
    "mean_speed", col("trip_distance")*1609.344/col("time_diff")
)

In [20]:
dfMTSP = dfMTS.toPandas()
display(dfMTSP.sort_values(by=["mean_speed"],ascending=False).head(50))
display(dfMTSP.describe().T)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,tpep_pickup_timestamp,tpep_dropoff_timestamp,time_diff,mean_speed
695619,2,2017-01-16 17:18:50,2017-01-16 17:23:34,1,24.58,2,N,132,50,1,...,0.0,0.5,5.00,5.54,0.3,63.34,1484583530,1484583814,284,139.287590
6000,1,2017-01-01 08:33:03,2017-01-01 08:38:35,1,26.80,1,N,132,132,3,...,0.0,0.5,0.00,0.00,0.3,5.80,1483255983,1483256315,332,129.910901
659906,2,2017-01-02 02:18:28,2017-01-02 02:26:54,1,27.47,1,N,76,148,2,...,0.5,0.5,0.00,0.00,0.3,125.30,1483319908,1483320414,506,87.368932
423928,1,2017-01-15 12:30:22,2017-01-15 12:33:25,1,8.00,1,N,37,37,3,...,0.0,0.5,0.00,0.00,0.3,4.80,1484479822,1484480005,183,70.353836
168363,1,2017-01-01 06:16:23,2017-01-01 06:19:54,1,8.90,1,N,196,196,3,...,0.0,0.5,0.00,0.00,0.3,4.80,1483247783,1483247994,211,67.882282
682256,2,2017-01-16 16:24:39,2017-01-16 16:32:56,2,20.61,2,N,132,130,1,...,0.0,0.5,14.58,5.54,0.3,72.92,1484580279,1484580776,497,66.737585
784668,2,2017-01-17 01:00:33,2017-01-17 01:03:36,1,6.08,1,N,237,116,2,...,0.5,0.5,0.00,0.00,0.3,59.30,1484611233,1484611416,183,53.468915
880463,1,2017-01-17 11:33:42,2017-01-17 11:37:51,1,8.20,1,N,165,165,2,...,0.0,0.5,0.00,15.00,0.3,20.30,1484649222,1484649471,249,52.998477
343612,2,2017-01-15 02:19:35,2017-01-15 03:05:08,1,73.80,5,N,170,260,2,...,0.0,0.5,0.00,5.54,0.3,156.34,1484443175,1484445908,2733,43.457588
736883,1,2017-01-16 19:53:17,2017-01-16 20:01:49,1,12.50,1,N,35,35,1,...,1.0,0.5,0.00,0.00,0.3,8.30,1484592797,1484593309,512,39.290625
169332,1,2017-01-01 06:30:56,2017-01-01 06:37:09,1,9.00,1,N,37,37,1,...,0.0,0.5,1.85,0.00,0.3,8.15,1483248656,1483249029,373,38.831357
375425,1,2017-01-15 07:56:39,2017-01-15 08:13:35,2,21.40,1,N,132,101,2,...,0.0,0.5,0.00,0.00,0.3,30.80,1484463399,1484464415,1016,33.897600
469757,2,2017-01-15 15:23:25,2017-01-15 15:39:16,1,18.26,2,N,132,230,2,...,0.0,0.5,0.00,5.54,0.3,58.34,1484490205,1484491156,951,30.900759
392085,2,2017-01-15 10:07:26,2017-01-15 10:41:35,6,39.12,2,N,132,132,2,...,0.0,0.5,0.00,0.00,0.3,52.80,1484471246,1484473295,2049,30.725982
8492,2,2017-01-01 09:10:06,2017-01-01 09:15:36,1,6.17,1,N,186,161,2,...,0.0,0.5,0.00,0.00,0.3,19.30,1483258206,1483258536,330,30.089856
785218,2,2017-01-17 01:10:14,2017-01-17 01:22:56,5,13.46,1,N,132,223,1,...,0.5,0.5,5.00,0.00,0.3,42.30,1484611814,1484612576,762,28.427520
15843,2,2017-01-01 10:28:58,2017-01-01 10:58:22,1,30.60,1,N,132,33,1,...,0.0,0.5,11.00,0.00,0.3,91.80,1483262938,1483264702,1764,27.917192
723364,2,2017-01-16 18:59:16,2017-01-16 19:10:15,1,11.40,1,N,229,163,1,...,1.0,0.5,7.00,5.54,0.3,49.84,1484589556,1484590215,659,27.839942
904178,2,2017-01-17 12:59:50,2017-01-17 13:16:47,1,17.06,1,N,231,194,2,...,0.0,0.5,0.00,0.00,0.3,53.80,1484654390,1484655407,1017,26.996469
25862,1,2017-01-01 11:37:43,2017-01-01 11:53:40,2,16.00,4,N,48,265,3,...,0.0,0.5,0.00,12.50,0.3,95.30,1483267063,1483268020,957,26.906483
843604,2,2017-01-17 09:19:12,2017-01-17 09:23:21,1,4.14,1,N,231,231,2,...,0.0,0.5,0.00,0.00,0.3,14.30,1484641152,1484641401,249,26.757768
18945,2,2017-01-01 10:50:40,2017-01-01 11:08:11,1,17.37,2,N,145,107,1,...,0.0,0.5,11.67,5.54,0.3,70.01,1483264240,1483265291,1051,26.597817
14317,2,2017-01-01 10:15:49,2017-01-01 10:44:41,1,28.51,2,N,132,263,2,...,0.0,0.5,0.00,5.54,0.3,58.34,1483262149,1483263881,1732,26.490992
498687,2,2017-01-15 17:07:04,2017-01-15 17:29:39,2,22.14,2,N,132,223,1,...,0.0,0.5,17.50,5.54,0.3,75.84,1484496424,1484497779,1355,26.295850
136204,2,2017-01-01 03:11:50,2017-01-01 03:59:46,1,46.83,5,N,74,265,1,...,0.0,0.5,1.11,0.00,0.3,189.91,1483236710,1483239586,2876,26.205000
5496,2,2017-01-01 08:24:46,2017-01-01 08:48:36,2,23.09,2,N,162,132,2,...,0.0,0.5,0.00,0.00,0.3,52.80,1483255486,1483256916,1430,25.985841
787481,1,2017-01-17 02:03:09,2017-01-17 02:11:50,1,8.40,1,N,66,207,1,...,0.5,0.5,0.00,0.00,0.3,24.30,1484614989,1484615510,521,25.947197
338451,2,2017-01-15 01:56:32,2017-01-15 02:01:18,1,4.60,1,N,223,93,2,...,0.5,0.5,0.00,0.00,0.3,15.30,1484441792,1484442078,286,25.884554
590514,1,2017-01-15 23:29:31,2017-01-16 00:17:04,1,45.80,4,N,138,265,1,...,0.5,0.5,10.00,0.00,0.3,215.30,1484519371,1484522224,2853,25.835245
8167,2,2017-01-01 09:05:43,2017-01-01 09:55:09,4,47.56,5,N,132,265,1,...,0.0,0.5,15.00,21.58,0.3,271.38,1483257943,1483260909,2966,25.805934
768370,2,2017-01-16 22:31:17,2017-01-16 22:51:17,1,19.24,5,N,70,265,1,...,0.0,0.5,19.67,5.54,0.3,118.01,1484602277,1484603477,1200,25.803149
549,2,2017-01-01 06:58:59,2017-01-01 07:13:34,1,14.00,1,N,132,194,2,...,0.0,0.5,0.00,0.00,0.3,38.80,1483250339,1483251214,875,25.749504
5341,2,2017-01-01 08:21:57,2017-01-01 08:30:49,1,8.50,1,N,132,93,2,...,0.0,0.5,0.00,0.00,0.3,24.30,1483255317,1483255849,532,25.713203
644609,2,2017-01-01 22:07:49,2017-01-01 22:13:31,5,5.41,1,N,196,175,2,...,0.5,0.5,0.00,0.00,0.3,17.30,1483304869,1483305211,342,25.457752
19017,2,2017-01-01 10:51:21,2017-01-01 11:10:01,1,17.63,2,N,144,132,1,...,0.0,0.5,10.56,0.00,0.3,63.36,1483264281,1483265401,1120,25.332799
5437,1,2017-01-01 08:23:48,2017-01-01 08:38:39,1,14.00,2,N,145,132,1,...,0.0,0.5,11.65,5.54,0.3,69.99,1483255428,1483256319,891,25.287111
395190,2,2017-01-15 10:24:51,2017-01-15 10:36:35,1,11.05,2,N,130,170,1,...,0.0,0.5,11.67,5.54,0.3,70.01,1484472291,1484472995,704,25.260300
353735,1,2017-01-15 03:12:27,2017-01-15 03:17:23,1,4.60,1,N,193,193,3,...,0.5,0.5,0.00,0.00,0.3,5.80,1484446347,1484446643,296,25.010076
6179,1,2017-01-01 08:35:31,2017-01-01 08:52:28,2,15.80,2,N,233,132,1,...,0.0,0.5,10.00,5.54,0.3,68.34,1483256131,1483257148,1017,25.002591
338750,2,2017-01-15 01:57:52,2017-01-15 02:14:07,1,15.13,5,N,68,265,1,...,0.0,0.5,0.00,0.00,0.3,125.80,1484441872,1484442847,975,24.973718
152577,2,2017-01-01 04:12:51,2017-01-01 04:18:41,1,5.41,1,N,228,14,2,...,0.5,0.5,0.00,0.00,0.3,17.30,1483240371,1483240721,350,24.875860
52511,2,2017-01-01 14:00:36,2017-01-01 14:31:21,3,28.49,5,N,70,265,1,...,0.0,0.5,10.00,0.00,0.3,171.80,1483275636,1483277481,1845,24.851063
412924,2,2017-01-15 11:45:35,2017-01-15 12:01:45,1,14.95,1,N,132,145,2,...,0.0,0.5,0.00,0.00,0.3,40.30,1484477135,1484478105,970,24.803807
137874,1,2017-01-01 03:17:19,2017-01-01 03:38:14,2,19.30,1,N,74,222,1,...,0.5,0.5,12.55,11.08,0.3,75.43,1483237039,1483238294,1255,24.749274
8339,2,2017-01-01 09:07:58,2017-01-01 09:44:34,1,33.75,4,N,132,265,1,...,0.0,0.5,20.00,0.00,0.3,157.30,1483258078,1483260274,2196,24.733770
5740,1,2017-01-01 08:28:53,2017-01-01 08:41:36,1,11.70,1,N,138,132,2,...,0.0,0.5,0.00,0.00,0.3,32.30,1483255733,1483256496,763,24.678014
786278,2,2017-01-17 01:31:10,2017-01-17 01:40:51,1,8.86,1,N,164,95,1,...,0.5,0.5,0.00,0.00,0.3,27.80,1484613070,1484613651,581,24.541804
3001,1,2017-01-01 07:39:21,2017-01-01 07:58:55,2,17.90,2,N,132,75,2,...,0.0,0.5,0.00,5.54,0.3,58.34,1483252761,1483253935,1174,24.537698
15063,1,2017-01-01 10:22:17,2017-01-01 10:37:46,1,14.10,2,N,10,232,2,...,0.0,0.5,0.00,0.00,0.3,52.80,1483262537,1483263466,929,24.425996
14529,1,2017-01-01 10:17:39,2017-01-01 10:35:28,1,16.20,2,N,264,264,2,...,0.0,0.5,0.00,0.00,0.3,52.80,1483262259,1483263328,1069,24.388562

,count,mean,std,min,25%,50%,75%,max
VendorID,908566.0,1.557853e+00,0.496642,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
passenger_count,908566.0,1.691012e+00,1.294333,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
trip_distance,908566.0,3.157709e+00,3.748656,1.000000e-02,1.100000e+00,1.800000e+00,3.400000e+00,1.391700e+02
RatecodeID,908566.0,1.026851e+00,0.188084,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
PULocationID,908566.0,1.598529e+02,67.616472,1.000000e+00,1.130000e+02,1.610000e+02,2.310000e+02,2.650000e+02
DOLocationID,908566.0,1.580280e+02,71.944970,1.000000e+00,1.000000e+02,1.610000e+02,2.310000e+02,2.650000e+02
payment_type,908566.0,1.360882e+00,0.494393,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00
fare_amount,908566.0,1.279407e+01,10.279671,1.050000e+00,6.500000e+00,9.500000e+00,1.450000e+01,3.500000e+02
extra,908566.0,2.111707e-01,0.255440,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00
mta_tax,908566.0,5.000000e-01,0.000000,5.000000e-01,5.000000e-01,5.000000e-01,5.000000e-01,5.000000e-01
tip_amount,908566.0,1.712291e+00,2.434678,0.000000e+00,0.000000e+00,1.260000e+00,2.260000e+00,3.660000e+02
tolls_amount,908566.0,2.629093e-01,1.645902,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.055400e+02
improvement_surcharge,908566.0,2.999990e-01,0.000545,0.000000e+00,3.000000e-01,3.000000e-01,3.000000e-01,3.000000e-01
total_amount,908566.0,1.578442e+01,12.599757,1.850000e+00,8.750000e+00,1.175000e+01,1.730000e+01,9.303400e+02
tpep_pickup_timestamp,908566.0,1.484166e+09,578369.094413,1.483225e+09,1.483298e+09,1.484471e+09,1.484582e+09,1.485874e+09
tpep_dropoff_timestamp,908566.0,1.484167e+09,578350.199459,1.483225e+09,1.483299e+09,1.484472e+09,1.484583e+09,1.485875e+09
time_diff,908566.0,9.320185e+02,3489.505061,1.800000e+02,4.000000e+02,6.320000e+02,1.003000e+03,8.639400e+04
mean_speed,908566.0,5.787231e+00,2.980020,1.941261e-04,3.877375e+00,5.127114e+00,6.826689e+00,1.392876e+02

Como se pued eobservar, la mayoria dde velocidades entre las 50 mas rapidas superan el limite de velocidad nacional para zonas de carretera (24.72222 m/s) siendo que solo los 5 ultimos lo cumplen, o en otras palabras que los 45 primeros infringen la ley.

Por otro lado se puede ver que los 8 primeros tienen velocidades mayores a 52 metros por segundo, lo que implica velocidades de 187.2 km/s esto puede ser debido o a que haya algun tipo de fallo en el tiempo o que lleve velocidades demasiado altas. 

Por uultimo mecionar que los 6 primeros tienen velocidades mayores a 65 m/s, cosa que ya debe ser debido a un fallo, accidental o a drede por parte del conductor.

### Registros financieros

In [ ]:
resultsTip = spark.sql("SELECT * FROM datosCarrerasLimpios where tip_amount >= 100").toPandas()
display(resultsTip)
display(resultsTip.describe().T)

In [ ]:
resultsTolls = spark.sql("SELECT * FROM datosCarrerasLimpios where tolls_amount > 100").toPandas()
display(resultsTolls)
display(resultsTolls.describe().T)

In [ ]:
resultsTimos = spark.sql("SELECT * FROM datosCarrerasLimpios where PULocationID == DOLocationID").toPandas()

In [ ]:
display(resultsTimos.sort_values(by=["trip_distance"],ascending=False).head(20))
display(resultsTimos.describe().T)

### Zonas de poca cobertura

### Velocidad media de los taxis

# Fin

In [ ]:
#spark.stop()

IDEAS

propinas / hora

Timos

- Vueltas de mas en misma zona
- Tolls valores raros
- Diferencias exageradas de distancias para pares de datos con mismo origen y destino

Velocidad media de los taxis en función de la hora.

Viajes en taxi más comunes

Registros financieros (propinas, personas, etc.)

Zonas sin cobertura a partir del parámetro Store_and_fwd_flag

Fare_amount frente a time_diff y trip distance, infracciones de ley